{% extends "layout.html" %}
{% block title %}Editar Questão{% endblock %}
{% block titulo_pagina %}Editar Questão{% endblock %}

{% block content %}
    {% if erro %}
        <p style="color: red; font-weight: bold;">{{ erro }}</p>
    {% endif %}

    <form method="POST" action="{{ url_for('questao.editar', id=questao.id) }}">
        <div class="form-grupo">
            <label>Enunciado da Questão:</label>
            <input type="text" name="enunciado" value="{{ questao.enunciado }}" required>
        </div>

        <div class="form-grupo">
            <label>Categoria:</label>
            <select name="categoria_id" required>
                {% for c in categorias %}
                <option value="{{ c.id }}" {% if questao.categoria_id == c.id %}selected{% endif %}>{{ c.nome }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn">Atualizar Dados</button>
        <a href="{{ url_for('questao.listar') }}" style="margin-left: 10px;">Cancelar</a>
    </form>
{% endblock %}
