{% extends "layout.html" %}
{% block title %}Nova Categoria{% endblock %}
{% block titulo_pagina %}Adicionar Categoria{% endblock %}

{% block content %}
    {% if erro %}
        <p style="color: red; font-weight: bold;">{{ erro }}</p>
    {% endif %}

    <form method="POST" action="{{ url_for('categoria.cadastrar') }}">
        <div class="form-grupo">
            <label>Nome da Categoria:</label>
            <input type="text" name="nome" required>
        </div>
        
        <div class="form-grupo">
            <label>Descrição (opcional):</label>
            <input type="text" name="descricao">
        </div>
        
        <button type="submit" class="btn">Guardar Categoria</button>
        <a href="{{ url_for('categoria.listar') }}" style="margin-left: 10px;">Cancelar</a>
    </form>
{% endblock %}